body {
    background-color: #333;
    color: white;
    font-family: "Cascadia Code", Helvetica, Arial, sans-serif;
    font-size: 16pt;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2rem;
}

tr.partition {
    border-top: 2px solid gray;
}

td {
    text-align: center;
}

td.pivot {
    font-weight: bold;
    color: lime;
}

td.lower {
    color: rgb(80, 101, 31);
}

td.higher {
    color: rgb(46, 120, 163);
}

td.left::before {
    content: "→";
}

td.right::after {
    content: "←";
}

td.outside {
    font-weight: lighter;
    color: #444;
}