# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MKData\OneDrive - Marienschule Opladen\Videos\IT mit Schmiss\Code Published\Informatik Qualifikationsphase 1\Sortieren\Quicksort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
